.thc-staff-wrapper {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 320px;
  height: 436px;
  background-color: black;
}

.pt-staff-image {
  height: 240px;
}

.thc-staff-image img{
  height: 23em;
}

div#thc-staff-page {
    padding-bottom: 24px;
}

.thc-staff-name.text-center {
    margin-top: 1em;
}

.thc-ministry-wrapper {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 320px;
  height: 436px;
  background-color: #e6e7e8;
}

.thc-ministry-image img{
    height: 32em;
    width: 100%;
}

.thc-ministry-wrapper{
  width:100%;
  margin-bottom: 15em;
}

.thc-staff-Email p{
  font-family: monospace;
  color:white;
  font-size: 13px;
}

.thc-staff-name p{
  font-family: monospace;
  color:white;
  font-size: 16px;
}

.thc-staff-position p{
  font-family: monospace;
  color:white;
  font-size: 16px;
}

.thc-staff-phone p{
  font-family: monospace;
  color:white;
  font-size: 16px;
}
@media (max-width: 319px) {
  .thc-staff-organism {
    backxCground-color: #e6e7e8;
    padding-bottom: 10px;
  }

  .thc-staff-wrapper {
    width: 100%;
    height: 100%;
  }

  .pt-staff-image {
    height: 100%;
  }
}

.thc-ministry-name{
  font-size: 5vmin;
  font-family: Impact, Charcoal, sans-serif;
  background: black;
  color:white;
}

.thc-ministry-position{
  font-size: 4vmin;
  font-family: Impact, Charcoal, sans-serif;
  background: black;
 color:white;
}

.thc-ministry-Email{
  font-size: 3vmin;
  font-family: Impact, Charcoal, sans-serif;
  background: black;
  color:white;
}

.thc-contact-us-image img{
  width: 100%;
  margin-top: -8em;
}

.thc-contact-us-city.text-center p{
  margin-top:-2em;
}

.thc-contact-us-name p{
  font-size: 4vmin;
  font-family: Impact, Charcoal, sans-serif;
  margin-top: 2em;
}

.opening-statement p{
  font-family: Impact, Charcoal, sans-serif;
  font-size: 26px;
  margin-top: -8em;
}

.thc-contact-us-position p{
  font-size: 4vmin;
  font-family: Impact, Charcoal, sans-serif;
  margin-top: -1em;
}

.thc-contact-us-city p{
  font-size: 4vmin;
  font-family: Impact, Charcoal, sans-serif;
  margin-top: -1em !important;
}

.thc-contact-us-email p{
font-size: 4vmin;
  font-family: Impact, Charcoal, sans-serif;
  margin-top: -1em !important;
}
.thc-contact-us-facebook{
font-size: 4vmin;
  font-family: Impact, Charcoal, sans-serif;
  margin-top: -0em !important;
}

.thc-contact-us-twitter{
  font-size: 4vmin;
  font-family: Impact, Charcoal, sans-serif;
  margin-top: -2em !important;
}

.thc-contact-us-phone p{
  font-size: 4vmin;
  font-family: Impact, Charcoal, sans-serif;
  margin-top: -1em !important;
}

.footer {
    background: black;
    color: white;
    padding-top: 1em;
}

.nav{
    position: relative;
    top: 34px;
    font-size: 3vmin;
    left: 127px;
}

.navbar-header img{
    width: 8em;
    height: 6em;
    bottom: 10px;
}

.page-header {
    border-bottom: 0em;
}

article#node-20 {
    display: none;
}


.region.region-sidebar-second {
    margin-top: 19px;
}

.thc-series-name p{
    margin-bottom: 0;
    position: relative;
    left: 15em;
    font-size: 4vmin;
    font-family: Impact, Charcoal, sans-serif;
}

.well {
    min-height: 20px;
     padding: 0px;
    margin-bottom: 20px;
    background-color:white !important; 
   border: 0px !important; 
    border-radius: 0px !important; 
    -webkit-box-shadow: none !important;
    box-shadow: none !important; 
}

.thc-series-image img{
  position: relative;
    left: 39px;
}

div#thc-ministry-page {
    padding-bottom: 55px;
}

h2.pane-title {
    display: none;
}

.thumbnail{
  border:none;
  padding-top: 100px;
}

.row {
  margin-right: 0px; 
   margin-left: 0px; 
}

.navbar-inverse .navbar-toggle {
    border-color: #333;
    position: relative;
    top: 24px;
}

div#thc-history-page{
    margin-bottom: 5em;
}
div#thc-history-page p{
    margin-bottom: 5em;
    font-family:monospace;
}

.thc-history-page-image-2 img{
      border-radius: 14%;
}

.thc-history-page-image-3 img{
      border-radius: 14%;
}

.thc-history-page-image-1 img{
      border-radius: 35%;
}

.thc-history-page-image-4 img{
      border-radius: 14%;
}

.thc-history-page-image-5 img{
      border-radius: 14%;
}

.banner-image.col-lg-12.col-md-12.col-sm-12.col-xs-12{
    background-color: darkcyan;
    margin-bottom: 6em;
    margin-top: 8em;
}

.banner-image.col-lg-12.col-md-12.col-sm-12.col-xs-12{
    text-align:center;
}

.view-header {
    line-height: 8.428571;
}

.calendar-calendar table.mini td.empty {
    background: #fff;
    border-color: none;
}


td#calendar{
  position: relative;
  top: -3em;
}

header#page-header {
  margin-top: 0.8em !important;
}

h2.block-title{
  font-size: 30px;
    border-style: solid;
    border-left: black;
    border-right: black;
    border-top: black;
}

.calendar-empty{
  line-height: 143px !important;
}

.calendar-calendar td.has-no-events {
    border-style: black;
    border-style: inset;
}

.calendar-calendar .mini {
    border: ridge;
}

.view .date-nav-wrapper .date-prev {
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    background: none !important;
    float: none;
    padding: 5px 0;
    position: absolute;
    right: 86px;
    left: auto;
    text-align: right;
    top: 3px;
    width: auto;
    z-index: 1;
    font-size: 12px;
}

.view .date-nav-wrapper .date-prev a, .view .date-nav-wrapper .date-next a {
    text-decoration: none;
    color: inherit;
    font-size: 7px;
}

.view .date-nav-wrapper .date-next {
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    background: none !important;
    float: none;
    padding: 5px 0;
    position: absolute;
    right: 15px;
    left: auto;
    text-align: right;
    top: 3px;
    width: auto;
    z-index: 1;
    font-size: 12px;
}

.calendar-calendar .month-view .full tr.single-day .no-entry, .calendar-calendar .month-view .full tr.single-day .no-entry .inner {
    height: 163px !important;
    line-height: 44px;
}



img.Image.img-responsive.img__fid__42.img__view_mode__media_original.media-image {
    display: block;
    height: auto;
    width: 100% !important;
}











